In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('/Users/dominicprenovost/Programmation/TP2-PF-management/48_Industry_Portfolios.CSV', header=6)
df = df.rename(columns={'Unnamed: 0': 'Date'})

df_48ind = df.iloc[:1171].copy()
df_48ind['Date'] = pd.to_datetime(df_48ind['Date'], format='%Y%m')
df_48ind.set_index('Date', inplace=True)
df_48ind = df_48ind.apply(pd.to_numeric, errors='coerce')

df_numfirm = df.iloc[2564-20:3735-20].copy()
df_numfirm['Date'] = pd.to_datetime(df_numfirm['Date'], format='%Y%m')
df_numfirm.set_index('Date', inplace=True)
df_numfirm = df_numfirm.apply(pd.to_numeric, errors='coerce')

df_avgsize = df.iloc[3739-22:4910-22].copy()
df_avgsize['Date'] = pd.to_datetime(df_avgsize['Date'], format='%Y%m')
df_avgsize.set_index('Date', inplace=True)
df_avgsize = df_avgsize.apply(pd.to_numeric, errors='coerce')

## 1) La capitalisation boursi√®re en tant que taille moyenne de l'entreprise x nombre d'entreprises

In [3]:
market_cap = df_numfirm.multiply(df_avgsize, axis=0)
market_cap

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07-01,299.40,1247.60,-0.00,21.36,955.52,13.00,171.84,4.33,178.16,220.32,...,212.10,4977.87,2.38,1539.45,64.92,43.50,95.46,45.84,49.60,97.00
1926-08-01,306.18,1246.00,-0.00,20.25,967.52,14.12,176.04,6.50,177.04,237.96,...,227.16,5058.17,1.80,1536.81,66.00,45.51,94.95,47.12,46.65,102.04
1926-09-01,313.02,1278.00,-0.00,25.74,1024.48,16.50,174.60,9.29,169.44,231.48,...,220.92,5281.55,1.90,1521.63,65.64,50.91,97.38,48.94,46.80,108.84
1926-10-01,308.73,1288.40,-0.00,26.76,1030.72,17.88,183.48,8.83,169.84,228.36,...,208.62,5269.14,1.76,1522.95,64.80,49.38,97.98,47.44,44.45,104.64
1926-11-01,307.02,1236.00,-0.00,25.86,1041.28,17.62,174.06,9.31,161.12,228.36,...,196.80,5115.11,1.48,1485.99,61.98,43.56,93.78,44.66,43.95,95.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,41006.68,505297.52,346342.32,346278.68,229020.70,41627.04,394473.12,27397.08,677271.34,252346.56,...,75465.50,812140.55,519543.20,3359902.26,696424.79,2626741.91,1581703.20,68858.24,1204022.82,1219430.46
2023-10-01,41351.20,482695.72,322070.22,328411.27,219676.30,38554.32,350182.43,25643.28,630874.36,240484.16,...,73352.80,769734.55,505316.24,3152332.77,665101.66,2520866.93,1618384.68,61585.28,1159465.58,1184147.60
2023-11-01,38939.89,453495.00,320819.40,314148.67,210891.15,32941.16,359816.49,25072.20,626535.45,250580.48,...,70811.40,721091.80,497719.17,3174484.60,653520.80,2442166.45,1674202.86,55927.10,1082860.33,1162998.24
2023-12-01,37935.92,471186.00,334212.57,324295.84,220929.35,34769.28,399451.12,27025.80,656927.10,277170.88,...,77940.20,807797.12,536188.50,3390874.20,701207.24,2753837.76,1736637.21,61450.37,1225951.76,1237856.40
2024-01-01,40484.07,490809.00,341749.80,326093.13,219169.40,38299.52,415217.74,29381.04,658732.05,289304.00,...,80538.80,865421.44,560593.58,3597482.63,735534.27,3017472.12,1722121.66,72104.45,1345554.32,1255554.30

## 2) Le rapport entre la valeur comptable (BE : book equity) et la valeur de march√© (ME : market equity), c'est-√†-dire le rapport book-to-market, en utilisant les donn√©es "Sum of BE / Sum of ME".

### (Remarque : les donn√©es "Somme de BE / Somme de ME" sont annuelles et doivent √™tre converties en donn√©es mensuelles en supposant que le ratio reste constant entre juillet de l'ann√©e s et juin de l'ann√©e s + 1. Par exemple, le ratio de 1926 est le ratio qui doit √™tre utilis√© pour la p√©riode allant de juillet 1926 √† juin 1927).

In [4]:
df_BtoM = df.iloc[4890:4988].copy()
df_BtoM = df_BtoM.apply(pd.to_numeric, errors='coerce')

#df_BtoM.replace(-99.99, np.nan, inplace = True)
#df_BtoM.replace(-999, np.nan, inplace = True)
#df_BtoM.dropna(inplace = True)

df_monthly = df_BtoM.loc[df_BtoM.index.repeat(12)].reset_index(drop=True)

# Conversion de la colonne 'Date' en format datetime avec un format sp√©cifi√©
df_monthly['Date'] = pd.to_datetime(df_monthly['Date'], format='%Y')

# Ajustement de la Date au 1er juillet
#df_monthly['Date'] = df_monthly['Date'] + pd.offsets.MonthBegin(2)
df_monthly

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
0,1926-01-01,0.65,0.63,-99.99,2.54,0.79,1.99,0.81,4.34,0.38,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
1,1926-01-01,0.65,0.63,-99.99,2.54,0.79,1.99,0.81,4.34,0.38,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
2,1926-01-01,0.65,0.63,-99.99,2.54,0.79,1.99,0.81,4.34,0.38,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
3,1926-01-01,0.65,0.63,-99.99,2.54,0.79,1.99,0.81,4.34,0.38,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
4,1926-01-01,0.65,0.63,-99.99,2.54,0.79,1.99,0.81,4.34,0.38,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,2023-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
1172,2023-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
1173,2023-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
1174,2023-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
1175,2023-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48

## 3) Le momentum de chaque industrie est le rendement moyen de cette industrie au cours des 12 derniers mois, y compris le mois t.

In [5]:
# Calculer la moyenne mobile sur 12 mois pour chaque industrie
df_mom = df_48ind.rolling(window=12).mean()

df_mom.replace(-99.99, np.nan, inplace = True)
df_mom.replace(-999, np.nan, inplace = True)
df_mom.dropna(inplace = True)

df_mom

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1969-07-01,-0.174167,-0.276667,-0.031667,0.210000,-0.055833,-0.501667,-1.079167,-2.055833,0.217500,-1.663333,...,0.531667,-1.380833,-1.471667,0.345833,1.013333,-0.774167,-0.055000,1.764167,-0.518333,-0.546667
1969-08-01,0.258333,-0.003333,0.035833,0.118333,0.542500,-0.162500,-0.807500,-1.251667,0.436667,-1.859167,...,0.648333,-0.938333,-0.954167,0.837500,1.261667,0.057500,-0.416667,2.268333,-0.127500,0.205000
1969-09-01,-0.415833,-0.522500,0.560000,-0.374167,0.410000,-0.912500,-2.041667,-1.716667,0.231667,-2.390833,...,0.589167,-2.028333,-1.650000,0.137500,0.483333,-0.824167,-1.970000,0.829167,-0.827500,-1.676667
1969-10-01,0.505833,0.057500,1.057500,1.015000,1.315000,-0.353333,-0.831667,-1.295000,0.698333,-1.952500,...,0.575833,-1.625833,-1.025000,0.627500,0.682500,-0.157500,-1.396667,1.035833,-0.331667,-0.795833
1969-11-01,-0.173333,-0.472500,0.231667,0.345000,1.112500,-1.507500,-1.776667,-1.692500,-0.085000,-2.583333,...,-0.170833,-2.953333,-2.521667,-0.090000,-0.257500,-1.141667,-1.864167,-0.595000,-1.652500,-1.531667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,-0.443333,0.130833,0.800833,0.579167,1.386667,0.681667,2.873333,2.539167,1.005833,1.811667,...,1.295000,1.810000,2.147500,1.186667,1.638333,0.859167,0.887500,1.377500,1.430000,2.147500
2023-10-01,-2.074167,-1.222500,0.175000,-0.571667,0.047500,-0.840000,1.854167,1.636667,0.530000,1.255833,...,0.534167,0.715833,0.934167,1.092500,0.615000,-0.496667,0.110000,0.045833,-0.054167,1.101667
2023-11-01,-2.465833,-1.114167,-0.067500,-0.516667,-0.021667,-0.790833,2.170833,0.989167,0.159167,0.682500,...,0.526667,0.895000,1.174167,1.427500,0.755000,0.169167,0.320833,-0.030833,0.355000,1.069167
2023-12-01,-0.885833,-0.555000,0.155833,-0.127500,-0.101667,0.904167,2.951667,2.369167,0.120833,1.084167,...,1.178333,2.140833,2.029167,2.706667,1.711667,1.515833,0.540000,1.970833,1.743333,1.470833
2024-01-01,-2.089167,-0.500833,0.314167,0.105000,-0.432500,-0.937500,1.998333,1.378333,0.470000,-0.098333,...,0.300000,1.284167,1.700000,1.912500,0.950000,0.865833,0.712500,0.189167,0.858333,1.671667

## Pour chaque mois t, standardiser chaque caract√©ristique de mani√®re transversale pour avoir une moyenne nulle et un √©cart-type unitaire pour toutes les actions √† la date t, comme expliqu√© dans Brandt et al. (2009).

In [13]:
# Cr√©er un objet StandardScaler
scaler = StandardScaler()

def standardize(df):
    # Standardiser les donn√©es
    df_scaled = scaler.fit_transform(df)
    
    df_standardized = pd.DataFrame(df_scaled, columns=df.columns, index=df.index)
    
    return df_standardized