In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

# Data Mensuelle

In [59]:
df_monthly = pd.read_csv('/Users/dominicprenovost/Programmation/TP2-PF-management/48_Industry_Portfolios.CSV', header=6)
df_monthly = df_monthly.rename(columns={'Unnamed: 0': 'Date'})

df_48ind = df_monthly.iloc[:1171].copy()
df_48ind['Date'] = pd.to_datetime(df_48ind['Date'], format='%Y%m')
df_48ind.set_index('Date', inplace=True)
df_48ind = df_48ind.apply(pd.to_numeric, errors='coerce')
df_48ind.replace(-99.99, np.nan, inplace = True)
df_48ind.replace(-999, np.nan, inplace = True)
df_48ind.dropna(inplace = True)

df_numfirm = df_monthly.iloc[2564-20:3735-20].copy()
df_numfirm['Date'] = pd.to_datetime(df_numfirm['Date'], format='%Y%m')
df_numfirm.set_index('Date', inplace=True)
df_numfirm = df_numfirm.apply(pd.to_numeric, errors='coerce')

df_avgsize = df_monthly.iloc[3739-22:4910-22].copy()
df_avgsize['Date'] = pd.to_datetime(df_avgsize['Date'], format='%Y%m')
df_avgsize.set_index('Date', inplace=True)
df_avgsize = df_avgsize.apply(pd.to_numeric, errors='coerce')


df_MC = df_numfirm.multiply(df_avgsize, axis=0)
df_MC = df_MC.loc[df_48ind.index]


df_BtoM = df_monthly.iloc[4890:4988].copy()
df_BtoM = df_BtoM.apply(pd.to_numeric, errors='coerce')

df_BtoM = df_BtoM.loc[df_BtoM.index.repeat(12)].reset_index(drop=True)

df_BtoM['Date'] = pd.to_datetime(df_BtoM['Date'], format='%Y')

df_BtoM = df_BtoM.drop('Date', axis=1)

df_BtoM.replace(-99.99, np.nan, inplace = True)
df_BtoM.replace(-999, np.nan, inplace = True)
df_BtoM.dropna(inplace = True)

df_BtoM = pd.DataFrame(data = df_BtoM.iloc[5:].values, index = df_48ind.index, columns = df_48ind.columns)


df_mom = df_48ind.rolling(window=12).mean()

df_mom.replace(-99.99, np.nan, inplace = True)
df_mom.replace(-999, np.nan, inplace = True)
df_mom.dropna(inplace = True)

In [60]:
df_48ind = df_48ind.loc[df_mom.index]
df_MC = df_MC.loc[df_mom.index]
df_BtoM = df_BtoM.loc[df_mom.index]

In [65]:
df_BtoM

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1970-06-01,1.26,0.65,0.22,0.61,0.57,0.62,0.77,0.67,0.30,0.94,...,0.55,2.29,0.84,0.59,0.50,0.74,0.84,0.65,1.26,1.59
1970-07-01,1.26,0.65,0.22,0.61,0.57,0.62,0.77,0.67,0.30,0.94,...,0.55,2.29,0.84,0.59,0.50,0.74,0.84,0.65,1.26,1.59
1970-08-01,1.26,0.65,0.22,0.61,0.57,0.62,0.77,0.67,0.30,0.94,...,0.55,2.29,0.84,0.59,0.50,0.74,0.84,0.65,1.26,1.59
1970-09-01,1.26,0.65,0.22,0.61,0.57,0.62,0.77,0.67,0.30,0.94,...,0.55,2.29,0.84,0.59,0.50,0.74,0.84,0.65,1.26,1.59
1970-10-01,1.26,0.65,0.22,0.61,0.57,0.62,0.77,0.67,0.30,0.94,...,0.55,2.29,0.84,0.59,0.50,0.74,0.84,0.65,1.26,1.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-10-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-11-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-12-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-01-01,0.65,0.43,0.10,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48

# Data Journalière

In [61]:
df_daily = pd.read_csv('/Users/dominicprenovost/Programmation/TP2-PF-management/48_Industry_Portfolios_Daily.csv', header=5)
df_daily = df_daily.rename(columns={'Unnamed: 0': 'Date'})

df_daily_ret = df_daily.iloc[:25670].copy()
df_daily_ret['Date'] = pd.to_datetime(df_daily_ret['Date'], format='%Y%m%d')
df_daily_ret.set_index('Date', inplace=True)
df_daily_ret = df_daily_ret.apply(pd.to_numeric, errors='coerce')
df_daily_ret.replace(-99.99, np.nan, inplace = True)
df_daily_ret.replace(-999, np.nan, inplace = True)
df_daily_ret.dropna(inplace = True)


df_FF = pd.read_csv('/Users/dominicprenovost/Programmation/TP2-PF-management/F-F_Research_Data_Factors_daily.CSV', header=3)
df_FF = df_FF.rename(columns={'Unnamed: 0': 'Date'})
df_FF_daily = df_FF.iloc[:25670].copy()
df_FF_daily['Date'] = pd.to_datetime(df_FF_daily['Date'], format='%Y%m%d')
df_FF_daily.set_index('Date', inplace=True)
df_FF_daily = df_FF_daily.apply(pd.to_numeric, errors='coerce')
df_FF_daily.replace(-99.99, np.nan, inplace = True)
df_FF_daily.replace(-999, np.nan, inplace = True)
df_FF_daily.dropna(inplace = True)
df_FF_daily = df_FF_daily.loc[df_daily_ret.index]

/var/folders/ns/nlrkcsjd7j70p9jvf2jl5t4c0000gn/T/ipykernel_1260/2405719038.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df_daily = pd.read_csv('/Users/dominicprenovost/Programmation/TP2-PF-management/48_Industry_Portfolios_Daily.csv', header=5)

In [75]:
df_daily_ret_reshaped = df_daily_ret.iloc[231:]

df_daily_ret_reshaped

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1970-06-01,4.26,2.13,3.98,0.62,3.94,2.41,3.47,0.35,1.89,2.14,...,0.80,2.24,3.53,1.74,2.66,1.73,3.57,8.20,0.64,1.74
1970-06-02,2.54,-0.05,-0.83,-1.00,0.02,-0.64,0.70,-0.35,0.63,0.41,...,1.01,-0.30,0.89,-0.19,0.29,0.13,2.79,-1.94,0.20,-2.77
1970-06-03,2.08,0.60,0.92,2.48,1.90,1.79,3.23,2.90,1.18,1.23,...,1.63,0.40,4.51,1.34,2.55,1.03,1.31,3.59,2.19,5.13
1970-06-04,2.60,0.10,0.00,-1.33,0.81,-3.59,-4.59,-0.30,-1.89,-1.29,...,-0.84,-2.14,-3.41,-0.72,-1.33,-0.69,-2.32,-4.62,-1.36,-2.41
1970-06-05,-1.34,-0.71,-2.56,-2.17,-0.36,-1.87,-0.35,-1.90,-1.04,-1.61,...,-1.08,-2.41,-2.67,-1.08,-2.96,-0.90,-3.01,-0.05,-2.08,-2.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-25,-0.08,0.87,0.35,0.86,0.48,1.33,2.14,0.82,1.90,0.43,...,2.30,1.67,0.67,0.74,0.08,0.52,-1.63,1.80,0.78,0.91
2024-01-26,1.13,0.55,0.29,0.67,-0.28,1.11,0.76,0.11,0.59,1.59,...,0.23,-0.46,-0.31,0.76,-0.08,0.42,0.74,0.24,0.02,0.84
2024-01-29,0.04,0.52,0.54,0.22,0.90,0.80,0.81,1.08,0.56,1.13,...,-0.65,0.76,0.70,0.81,1.11,0.87,-0.02,1.42,0.46,-0.29
2024-01-30,-0.12,0.76,0.06,0.38,-0.02,-1.67,-1.59,-1.02,0.35,-0.01,...,-0.33,-1.41,1.26,-0.45,0.14,1.32,0.58,-0.52,0.59,1.10
2024-01-31,-0.75,-1.18,-0.73,-0.97,-0.95,-2.47,-0.42,-1.47,-0.59,-3.26,...,-1.75,-1.50,-0.43,-1.72,-1.19,-1.91,-0.01,-1.25,-1.49,-1.10

1950-2023, 1990-2023.... permet de comparer dans le temps

In [ ]:
###### une colonne à la fois, que je choisis


Ri_t = df_daily_ret['Agric']
Rft = df_FF_daily['RF']
Rm_t = df_FF_daily['Mkt-RF']

Y = Ri_t - Rft
X = Rm_t

X = sm.add_constant(X)

model = sm.OLS(Y, X)
results = model.fit()

print(results.summary())

In [16]:
########## boucle pour toutes les colonnes



Rft = df_FF_daily['RF']
Rm_t = df_FF_daily['Mkt-RF']

betas = []  # Create an empty list to store the betas

for column in df_daily_ret.columns:
    Ri_t = df_daily_ret[column]

    Y = Ri_t - Rft
    X = Rm_t

    X = sm.add_constant(X)

    model = sm.OLS(Y, X)
    results = model.fit()

    betas.append(results.params[1])  # Add the betas to the list

    #print(f"Results for column {column}:")
    #print(results.summary())
    #print("\n---\n")

# Convert the list of betas to a numpy array
betas = np.array(betas)

In [83]:
########## boucle pour toutes les colonnes, avec une date de début et de fin


# Définir la date de début et de fin
start = '1969-06-01'  # Remplacez par la date de début souhaitée
end = '1970-06-01'  # Remplacez par la date de fin souhaitée

# Sélectionner les données pour la plage de dates spécifiée
df_daily_ret_selected = df_daily_ret.loc[start:end]
df_FF_daily_selected = df_FF_daily.loc[start:end]

# Maintenant, vous pouvez utiliser df_daily_ret_selected et df_FF_daily_selected pour votre régression
Rft = df_FF_daily_selected['RF']
Rm_t = df_FF_daily_selected['Mkt-RF']

betas = []  # Create an empty list to store the betas

for column in df_daily_ret_selected.columns:
    Ri_t = df_daily_ret_selected[column]

    Y = Ri_t - Rft
    X = Rm_t

    X = sm.add_constant(X)

    model = sm.OLS(Y, X)
    results = model.fit()

    betas.append(results.params[1])  # Add the betas to the list

    #print(f"Results for column {column}:")
    #print(results.summary())
    #print("\n---\n")

# Convert the list of betas to a numpy array
betas = np.array(betas)
#betas

array([0.83914665, 0.70457762, 0.84911254, 0.75072452, 0.8227907 ,
       1.4447707 , 1.81969784, 0.83862425, 1.05452938, 1.03835025,
       2.3416672 , 1.32760745, 0.9643462 , 0.9020173 , 1.1483886 ,
       0.85497955, 1.13495348, 1.27850978, 1.01964726, 1.05102037,
       0.99011342, 1.07259174, 0.99315022, 1.40127126, 0.96172621,
       1.16247467, 1.13249415, 1.14178563, 1.19595723, 1.00792946,
       0.56238898, 0.60848112, 1.76175689, 1.35765048, 1.28586422,
       1.41148484, 1.21771361, 1.01955636, 0.88906719, 1.22137994,
       1.53282929, 0.87729991, 1.60245847, 0.96509158, 1.2496418 ,
       1.96002545, 1.22662884, 1.49582335])

In [81]:
########## boucle pour toutes les colonnes, avec une date de début et de fin, et pour chaque mois

# Définir la date de début et de fin
start_date = '1970-06-01'  # Remplacez par la date de début souhaitée
end_date = '2024-01-01'  # Remplacez par la date de fin souhaitée

def calculate_betas(start_date, end_date, df_daily_ret_reshaped, df_FF_daily):
    # Sélectionner les données pour la plage de dates spécifiée
    df_daily_ret_selected = df_daily_ret_reshaped.loc[start_date:end_date]
    df_FF_daily_selected = df_FF_daily.loc[start_date:end_date]

    # Maintenant, vous pouvez utiliser df_daily_ret_selected et df_FF_daily_selected pour votre régression
    Rft = df_FF_daily_selected['RF']
    Rm_t = df_FF_daily_selected['Mkt-RF']

    betas = []  # Create an empty list to store the betas

    for column in df_daily_ret_selected.columns:
        Ri_t = df_daily_ret_selected[column]

        Y = Ri_t - Rft
        X = Rm_t

        X = sm.add_constant(X)

        model = sm.OLS(Y, X)
        results = model.fit()

        betas.append(results.params[1])  # Add the betas to the list

    # Convert the list of betas to a numpy array
    betas = np.array(betas)

    return betas

# Get the first and last date in the data
first_date = df_daily_ret_reshaped.index.min()
last_date = df_daily_ret_reshaped.index.max()

# Create a date range for each month in the data
date_range = pd.date_range(start=first_date, end=last_date, freq='M')

# Calculate the betas for each month
monthly_betas = {}
for date in date_range:
    start_date = date - pd.DateOffset(months=12)
    end_date = date
    betas = calculate_betas(start_date, end_date, df_daily_ret, df_FF_daily)
    monthly_betas[date] = betas
    
    # Convert the dictionary to a DataFrame
df_monthly_betas = pd.DataFrame(monthly_betas.items(), columns=['Date', 'Betas'])

# Convert the Betas column from numpy arrays to lists
df_monthly_betas['Betas'] = df_monthly_betas['Betas'].apply(list)

# Set the Date column as the index
df_monthly_betas.set_index('Date', inplace=True)

# Convert each item in the 'Betas' list to a separate column
df_monthly_betas = df_monthly_betas['Betas'].apply(pd.Series)

# Set the index of df_monthly_betas to match df_48ind
df_monthly_betas.index = df_48ind.index

# Set the column names of df_monthly_betas to match df_48ind
df_monthly_betas.columns = df_48ind.columns

df_monthly_betas

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1970-06-01,0.828794,0.682414,0.860412,0.758593,0.827704,1.449838,1.817896,0.843385,1.074747,1.033094,...,0.878958,1.213908,1.534990,0.867475,1.584256,0.941524,1.248875,1.943566,1.222733,1.507082
1970-07-01,0.797423,0.671965,0.832785,0.775927,0.823808,1.424225,1.797530,0.865813,1.074707,1.003951,...,0.887731,1.210451,1.509201,0.876498,1.518675,0.926868,1.221693,1.850151,1.232748,1.363690
1970-08-01,0.748086,0.664881,0.845254,0.767614,0.812406,1.427503,1.770406,0.855843,1.099055,1.024108,...,0.889724,1.193579,1.483159,0.875616,1.520585,0.906320,1.195351,1.790002,1.215939,1.290635
1970-09-01,0.790212,0.671836,0.831408,0.780480,0.793357,1.424771,1.791524,0.870283,1.081423,1.045983,...,0.877353,1.198636,1.496279,0.881665,1.543311,0.880509,1.190192,1.794352,1.228601,1.299348
1970-10-01,0.757437,0.650063,0.848550,0.778496,0.803667,1.395618,1.793594,0.875044,1.082050,1.041337,...,0.881260,1.218546,1.469147,0.873902,1.538736,0.853788,1.187443,1.783135,1.216364,1.336023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,0.623733,0.396869,0.516959,0.460776,0.482077,1.292190,1.217048,0.932945,0.634313,1.206768,...,0.846576,1.000801,0.769123,1.053083,0.741601,1.036721,0.556212,1.282224,1.068795,0.737449
2023-10-01,0.513497,0.345833,0.499659,0.414435,0.453486,1.383603,1.250198,0.970197,0.592475,1.199010,...,0.871758,1.040784,0.723414,1.094199,0.726029,1.032771,0.507572,1.332555,1.054593,0.701001
2023-11-01,0.674778,0.386416,0.464905,0.438267,0.473044,1.351356,1.263489,0.972492,0.539535,1.119592,...,0.894578,1.058169,0.772032,1.037993,0.772278,1.073888,0.536550,1.355513,1.085715,0.695467
2023-12-01,0.701777,0.399526,0.442175,0.436842,0.514913,1.389046,1.241199,0.979736,0.535727,1.059861,...,0.923602,1.079593,0.782000,1.036017,0.787039,1.142182,0.519947,1.423834,1.142631,0.686507
2024-01-01,0.679916,0.363157,0.412691,0.401910,0.510856,1.440013,1.197014,1.004548,0.516890,1.096893,...,0.930727,1.081427,0.760802,1.026310,0.770925,1.135129,0.473349,1.439331,1.156069,0.659221