In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
# Utilisez la fonction read_excel() pour importer le fichier
df = pd.read_excel("/Users/dominicprenovost/Programmation/TP2-PF-management/data_tp3.xlsx")

df.head()

,"Period End Date, as Reported",Name of the Security Held,Sum of Security's Percentage of the Total Net Assets,Returns
0,2023-11-30,A S M L HOLDING N V,4.179996,0.144736
1,2023-11-30,BROADCOM INC,4.739998,0.100265
2,2023-11-30,GLOBALFOUNDRIES INC,5.199997,0.082023
3,2023-11-30,LAM RESH CORP,4.029999,0.217096
4,2023-11-30,MARVELL TECHNOLOGY INC,7.139999,0.180220

In [3]:
df['Weighted_Return'] = df.groupby('Name of the Security Held')['Sum of Security\'s Percentage of the Total Net Assets'].diff(periods=-1) * df['Returns']

In [5]:
# Conversion de la colonne 'Period End Date' en datetime
df['Period End Date'] = pd.to_datetime(df['Period End Date, as Reported'])

# Calcul de GTt
df['Weighted_Return'] = df.groupby('Name of the Security Held')['Sum of Security\'s Percentage of the Total Net Assets'].diff(periods=-1) * df['Returns']

# Somme mensuelle des GTt
monthly_GTt = df.groupby(df['Period End Date'].dt.to_period('Y'))['Weighted_Return'].sum()

monthly_GTt

Period End Date
2018   -0.762448
2019   -0.113100
2020    4.188909
2021    4.635169
2022    5.151262
2023    3.792985
Freq: A-DEC, Name: Weighted_Return, dtype: float64

In [6]:
# Création du DataFrame avec monthly_GTt et Period End Date en index
monthly_GTt_df = pd.DataFrame(monthly_GTt)
monthly_GTt_df.index.name = '	Period End Date, as Reported'

monthly_GTt_df

                                Weighted_Return
\tPeriod End Date, as Reported
2018                                  -0.762448
2019                                  -0.113100
2020                                   4.188909
2021                                   4.635169
2022                                   5.151262
2023                                   3.792985

In [7]:
# Spécifiez le chemin et le nom de fichier pour sauvegarder le DataFrame au format Excel
chemin_excel = "chemin_vers_votre_fichier.xlsx"

# Utilisez la méthode to_excel() pour exporter le DataFrame vers un fichier Excel
monthly_GTt_df.to_excel('/Users/dominicprenovost/Programmation/TP2-PF-management/Tp3.xlsx')

print("Le DataFrame a été exporté vers Excel avec succès.")

Le DataFrame a été exporté vers Excel avec succès.