In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [7]:
# Utilisez la fonction read_excel() pour importer le fichier
df = pd.read_excel("/Users/dominicprenovost/Programmation/TP2-PF-management/data_tp3.xlsx")

df.head()

,"Period End Date, as Reported",Name of the Security Held,Sum of Security's Percentage of the Total Net Assets,Returns
0,2023-11-30,A S M L HOLDING N V,4.179996,0.144736
1,2023-11-30,BROADCOM INC,4.739998,0.100265
2,2023-11-30,GLOBALFOUNDRIES INC,5.199997,0.082023
3,2023-11-30,LAM RESH CORP,4.029999,0.217096
4,2023-11-30,MARVELL TECHNOLOGY INC,7.139999,0.180220

In [11]:
df['Weighted_Return'] = df.groupby('Name of the Security Held')['Sum of Security\'s Percentage of the Total Net Assets'].diff(periods=-1) * df['Returns']

In [12]:
df

,"Period End Date, as Reported",Name of the Security Held,Sum of Security's Percentage of the Total Net Assets,Returns,Weighted_Return,Period End Date
0,2023-11-30,A S M L HOLDING N V,4.179996,0.144736,0.028947,2023-11-30
1,2023-11-30,BROADCOM INC,4.739998,0.100265,-0.029077,2023-11-30
2,2023-11-30,GLOBALFOUNDRIES INC,5.199997,0.082023,-0.025427,2023-11-30
3,2023-11-30,LAM RESH CORP,4.029999,0.217096,0.052103,2023-11-30
4,2023-11-30,MARVELL TECHNOLOGY INC,7.139999,0.180220,0.039649,2023-11-30
...,...,...,...,...,...,...
706,2018-01-31,MARVELL TECHNOLOGY GROUP LTD,4.969997,0.086633,NaN,2018-01-31
707,2018-01-31,MICRON TECHNOLOGY INC,5.969997,0.063230,NaN,2018-01-31
708,2018-01-31,NVIDIA CORP,5.009998,0.270284,NaN,2018-01-31
709,2018-01-31,ON SEMICONDUCTOR CORP,2.699999,0.181471,NaN,2018-01-31
710,2018-01-31,QUALCOMM INC,8.729996,0.066073,NaN,2018-01-31

In [13]:
# Conversion de la colonne 'Period End Date' en datetime
df['Period End Date'] = pd.to_datetime(df['Period End Date, as Reported'])

# Calcul de GTt
df['Weighted_Return'] = df.groupby('Name of the Security Held')['Sum of Security\'s Percentage of the Total Net Assets'].diff(periods=-1) * df['Returns']

# Somme mensuelle des GTt
monthly_GTt = df.groupby(df['Period End Date'].dt.to_period('M'))['Weighted_Return'].sum()

monthly_GTt

Period End Date
2018-01    0.000000
2018-02   -0.021390
2018-03   -0.204794
2018-04    0.079064
2018-05   -0.198008
             ...
2023-07    0.532746
2023-08    0.290769
2023-09    0.333842
2023-10    0.477121
2023-11    0.206903
Freq: M, Name: Weighted_Return, Length: 71, dtype: float64

In [14]:
# Création du DataFrame avec monthly_GTt et Period End Date en index
monthly_GTt_df = pd.DataFrame(monthly_GTt)
monthly_GTt_df.index.name = '	Period End Date, as Reported'

monthly_GTt_df

                                Weighted_Return
\tPeriod End Date, as Reported
2018-01                                0.000000
2018-02                               -0.021390
2018-03                               -0.204794
2018-04                                0.079064
2018-05                               -0.198008
...                                         ...
2023-07                                0.532746
2023-08                                0.290769
2023-09                                0.333842
2023-10                                0.477121
2023-11                                0.206903

[71 rows x 1 columns]

In [15]:
# Spécifiez le chemin et le nom de fichier pour sauvegarder le DataFrame au format Excel
chemin_excel = "chemin_vers_votre_fichier.xlsx"

# Utilisez la méthode to_excel() pour exporter le DataFrame vers un fichier Excel
monthly_GTt_df.to_excel('/Users/dominicprenovost/Programmation/TP2-PF-management/Tp3.xlsx')

print("Le DataFrame a été exporté vers Excel avec succès.")

Le DataFrame a été exporté vers Excel avec succès.