In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [6]:
import pandas as pd

# Spécifiez le chemin vers votre fichier Excel
chemin_fichier = "/Users/dominicprenovost/Programmation/TP2-PF-management/Tp3.xlsx"

# Utilisez la fonction read_excel() pour importer le fichier
df = pd.read_excel(chemin_fichier)

df.head()

,"Period End Date, as Reported",Name of the Security Held,Sum of Security's Percentage of the Total Net Assets,Returns
0,2022-01-31,XILINX INC,3.160000,-0.206046
1,2020-12-31,XILINX INC,4.639999,-0.010253
2,2020-11-30,XILINX INC,5.059998,0.230708
3,2020-10-31,XILINX INC,4.849998,-0.081717
4,2020-06-30,XILINX INC,3.830000,-0.022119

In [11]:
# Conversion de la colonne 'Period End Date' en datetime
df['Period End Date'] = pd.to_datetime(df['Period End Date, as Reported'])

# Calcul de GTt
df['Weighted_Return'] = df.groupby('Name of the Security Held')['Sum of Security\'s Percentage of the Total Net Assets'].diff() * df['Returns']

# Somme mensuelle des GTt
monthly_GTt = df.groupby(df['Period End Date'].dt.to_period('M'))['Weighted_Return'].sum()

monthly_GTt

Period End Date
2018-01    0.168122
2018-02   -0.188968
2018-03    0.297433
2018-04    0.329593
2018-05   -0.192429
             ...
2023-07   -0.099398
2023-08    0.390620
2023-09    0.180026
2023-10    0.242719
2023-11    0.000000
Freq: M, Name: Weighted_Return, Length: 71, dtype: float64

In [15]:
# Création du DataFrame avec monthly_GTt et Period End Date en index
monthly_GTt_df = pd.DataFrame(monthly_GTt)
monthly_GTt_df.index.name = '	Period End Date, as Reported'

monthly_GTt_df

                                Weighted_Return
\tPeriod End Date, as Reported
2018-01                                0.168122
2018-02                               -0.188968
2018-03                                0.297433
2018-04                                0.329593
2018-05                               -0.192429
...                                         ...
2023-07                               -0.099398
2023-08                                0.390620
2023-09                                0.180026
2023-10                                0.242719
2023-11                                0.000000

[71 rows x 1 columns]

In [14]:
# Spécifiez le chemin et le nom de fichier pour sauvegarder le DataFrame au format Excel
chemin_excel = "chemin_vers_votre_fichier.xlsx"

# Utilisez la méthode to_excel() pour exporter le DataFrame vers un fichier Excel
monthly_GTt_df.to_excel('/Users/dominicprenovost/Programmation/TP2-PF-management/Tp3.xlsx')

print("Le DataFrame a été exporté vers Excel avec succès.")

Le DataFrame a été exporté vers Excel avec succès.